{% extends 'base.html' %}
{% block body %}
<div id="header">
    <div class="container">
        <nav>
            <!-- <img src="/logo.PNG"  alt="My Logo" class="logo">  -->
            
    </div>
<ul id="sidemenu">
    <li><a href="#header">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#contact">Contact</a></li>
    <i class="fas fa-times" onclick="closemenu()"></i>
</ul>
<i class="fas fa-bars" onclick="openmenu()"></i>
</nav>
<div class="header-text">
<p>Software Engineer</p>
<h1>Hi, I am <span>Janet Mlaha</span><br> from Kenya</h1>
</div>
</div>
</div> 

    {% endblock %}