{% extends 'base.html' %}
{% block body %}

    
<div id="services">
    <div class="container">
        <hi class="sub-titles">My Services</hi>
        <div class="services-list">
            <div>
                <i class="fas fa-code"></i>
                <h2>Web Design</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, officia rerum? Quae facere, aspernatur accusamus vero excepturi dignissimos, porro odio optio magnam nemo alias! Ea hic impedit sapiente adipisci nisi?</p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fas fa-crop=alt"></i>
                <h2>Accountant</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tenetur officia. Fugiat corporis, vitae voluptatem non, perferendis eos perspiciatis dolor deleniti quibusdam voluptas vero illo excepturi odit consequatur labore ipsam dignissimos ipsa, officiis tempore. Odio eaque labore optio sint deserunt, reprehenderit, laboriosam molestias corrupti possimus debitis consectetur, facere voluptatum. Ut.</p>
            </div>
            <div>
                <i class="fab fa-app-store"></i>
                <h2>Auditor</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati laboriosam in fugiat dolore tempore corporis ut ullam maxime perferendis repellendus tenetur blanditiis molestias nemo minus, natus esse facilis quaerat voluptatem? Autem commodi mollitia libero illo molestias amet consequatur quidem sit aperiam accusantium fugiat deserunt ex, impedit alias velit animi?</p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}